# Byte-compiled Python files
*.pyc
__pycache__/

# Node.js package lock file
package-lock.json

# Static uploads directory and specific files
static/uploads/

# General uploads directory
uploads/

# Specific file types in uploads
*.png
*.jpg
*.jpeg

# CSV files
*.csv
